name: Continuous Integration
on:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
      - name: Install dependencies
        uses: astral-sh/setup-uv@v7
        with:
          version: 0.9.22
          python-version: 3.12

      - name: Run linters
        run: uv run ruff check .
